[Unit]
Description=My Script Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/Documents/Schnupperlehre/ip.py

[Install]
WantedBy=multi-user.target
